*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Open Sans,sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #509fa0;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body, html {
    height: 100%;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 65px;
  padding: 0 2vw;
  background-color: #132235;
  z-index: 1;
}

header a{
    height: 85%;
}

a img{
    height: 100%;
}

#menu{
    margin-right: 5vw;
}

li{
    font-size: 1.2em;
    display: inline-block;
    padding: 0 5px;
}

a{
    text-decoration: none;
}


/* =========== Content =========== */

.bg-index-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #132235), url(imagens/bg-estudantes.jpg);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.bg-index-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* ================================= */

.button-1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline:none;
}

.button-1:hover {
  background-color: #45898e;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  background-color: #45898e;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/* =========== Serviços Index =========== */


  .servicos-index {
    box-sizing: border-box;
    padding: 0 2vw;
    margin-bottom: 50px;
  }

  .titulo-servicos-index > h2 {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .servicos-index-caixa-1 {
  float: left;
  width: 48%;
  height: 20%;
  background-image: linear-gradient(#132235d4, #132235), url(imagens/bg-moradia.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.servicos-index-caixa-2 {
  float: right;
  width: 48%;
  height: 20%;
  background-image: linear-gradient(#132235d4, #132235), url(imagens/bg-ap.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.conteudo-servicos-index {
  padding: 2vw 2vw;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ================================= */

/* =========== Contato Index =========== */

.contato-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #132235), url(imagens/bg-contato.jpg);
  height: 25%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-index-contato-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.titulo-contato-index > h2 {
  color: #fff;
}


/* =========== Produtos e serviÃ§os ============= */



#containerprod {
    width: 100%;
    padding: 70px 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    gap: 10px;
}

.imgprod{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 90%;
}

section a {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: black;
}

/* Quem somos */

#containerquem {
    padding: 70px 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #132235;
    align-items: center;
    justify-content: center;
}

#item1 {
    justify-self: center;
}

#item2 p{
    padding: 5px 0;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    text-align: center;
}

#fundadores{
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  text-align: center;
}

#fundadores a img{
  border-radius: 5%;
}

#fundadores a:hover{
  transition: all 0.3s;
  opacity: 0.8;
}

/* Footer */

.contato {
  display: grid;
  justify-content: center;
  padding: 10vw 2vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #132235), url(imagens/bg-contato.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.contato-personal {
  width: 600px;
  height: 25px;
}

.contato-personal-msg {
  width: 600px;
  height: 105px;
}


footer{
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    background-color: #132235;
}

footer img{
    height: 80%;
}

#redes{
    width: 8%;
    height: 85%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-github, .fa-twitter, .fa-facebook-square, .fa-instagram{
    color: white;
    font-size: 1.5em;
}

a:hover, .fa-github:hover{
    color: #777777;
    transition: color 0.5s;
}

i:hover{
    transition: color 0.7s;
}

.fa-twitter:hover{
    color: #1da1f2;
}

.fa-facebook-square:hover{
    color: #3c5998;
}

.fa-instagram:hover{
    color: #bc2a8d;
}

.text-color-f4 {
  color: #509fa0;
}